
.idea/COIbot.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/Bot_Globals.cpython-310.pyc
Bot_Globals.py
Bot_Globals.py
Extra_Serving_Duties.txt
